.header {
  &-logo {
    @include mq(pc) {
      width: rempc(400);
    }
    
    @include mq(sp) {
      width: vwsp(100);
    }
  }
  
  &-menu {
    width: 100%;
    
    @include mq(pc) {
      display: block !important;
    }
    
    @include mq(sp) {
      position: fixed;
      top: 0;
      left: 0;
      padding-top: $header_height_sp;
      width: 100vw;
      height: 100vh;
      background: $header_menu_back_color;
      z-index: -1;
      display: none;
    }
    
    &-handler {
      @include mq(sp) {
        position: relative;
        width: $header_height_sp;
        height: $header_height_sp;
        background: $header_button_back_color;
        border-left: 1px solid $header_button_border_color;
        
        span {
          position: absolute;
          background: $header_button_font_color;
          width: vwsp(25);
          height: vwsp(2);
          left: 50%;
          transform: translateX(-50%);
          transition: all 0.3s;
        }
        
        span:nth-child(1) {
          top: vwsp(15.5);
        }
        
        span:nth-child(2) {
          top: vwsp(24);
        }
        
        span:nth-child(3) {
          top: vwsp(32.5);
        }
      }
      
      &.active {
        @include mq(sp) {
          span:nth-child(1) {
            width: vwsp(32.5);
            top: vwsp(23);
            left: vwsp(9);
            transform: rotate(-45deg);
          }
          
          span:nth-child(2) {
            width: 0;
          }
          
          span:nth-child(3) {
            width: vwsp(32.5);
            top: vwsp(23);
            left: vwsp(9);
            transform: rotate(45deg);
          }
        }
      }
    }
    
    &-btnarea {
      @include mq(sp) {
        margin-top: vwsp(15);
        display: flex;
        justify-content: space-between;
        padding: 0 vwsp(35);
      }
    }
    
    &-button {
      @include mq(sp) {
        width: vwsp(145);
        height: vwsp(40);
        font-size: vwsp(14);
        font-weight: 700;
        color: $header_button_font_color;
        line-height: vwsp(40);
        background-size: vwsp(25);
        background-position: vwsp(10) vwsp(7);
        background-repeat: no-repeat;
        border-radius: vwsp(5);
        box-shadow: vwsp(3) vwsp(3) vwsp(3) rgba(0, 0, 0, 0.15);
      }
      
      a {
        @include mq(sp) {
          color: $header_button_font_color;
          padding-left: vwsp(45);
        }
      }
    }
  }
  
  &-button {
    @include mq(pc) {
      width: rempc(90);
      height: $header_height_pc;
      border-left: 1px solid $header_button_border_color;
      font-weight: 700;
      color: $header_button_font_color;
      font-size: rempc(12);
      text-align: center;
      background-size: rempc(36);
      background-repeat: no-repeat;
      background-position: rempc(25) rempc(10);
    }
    
    a {
      padding-top: rempc(50);
      color: $header_button_font_color;
    }
  }
  
  &-signup {
    background-color: #0000cd;
    background-image: url("../../img/common/signup.svg");
  }
  
  &-login {
    background-color: #006400;
    background-image: url("../../img/common/login.svg");
  }
  
  &-profile {
    background-color: #0000cd;
    background-image: url("../../img/common/profile.svg");
  }
  
  &-logout {
    background-color: #dc143c;
    background-image: url("../../img/common/logout.svg");
  }
  
  &-language {
    @include mq(pc) {
      padding: rempc(8) 0;
      margin-right: rempc(20);
    }
    
    @include mq(sp) {
      position: relative;
      width: vwsp(90);
      padding: vwsp(6) 0;
      margin-right: vwsp(10);
    }
    
    &-list {
      @include mq(pc) {
        display: flex;
      }
      
      @include mq(sp) {
        position: absolute;
        display: none;
        top: vwsp(42);
        left: 0;
        width: 100%;
      }
    }
    
    &-link {
      @include mq(sp) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: vwsp(2) 0;
      }
    }
    
    &-item {
      position: relative;
      
      @include mq(pc) {
        padding: 0 rempc(10);
      }
      
      @include mq(sp) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: vwsp(35);
        border-radius: vwsp(5);
        background: #4169e1;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        border: 1px solid #191970;
      }
    }
    
    &-now {
      cursor: pointer;
      
      @include mq(sp) {
        box-shadow: none;
        border: 1.5px inset #4169e1;
      }
    }
    
    &-code {
      position: relative;
      background: #0000cd;
      border-radius: 50%;
      
      @include mq(pc) {
        width: rempc(30);
        height: rempc(30);
        border: solid rempc(2) #ffffff;
        margin: 0 auto;
      }
      
      @include mq(sp) {
        width: vwsp(20);
        height: vwsp(20);
        border: solid vwsp(1.5) #ffffff;
        margin-right: vwsp(3);
      }
      
      &:before {
        content: "";
        position: absolute;
        background: radial-gradient(#6495ed, #0000cd);
        border-radius: 50%;
        
        @include mq(pc) {
          width: rempc(18);
          height: rempc(18);
          top: rempc(3);
          right: rempc(3);
        }
        
        @include mq(sp) {
          width: vwsp(10);
          height: vwsp(10);
          top: vwsp(1);
          right: vwsp(2);
        }
      }
      
      &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff;
        text-shadow: 1px 1px 2px #191970;
        font-family: "Times";
        
        @include mq(pc) {
          font-size: rempc(13);
        }
        
        @include mq(sp) {
          font-size: vwsp(10);
        }
      }
    }
    
    &-name {
      text-align: center;
      white-space: nowrap;
      color: #ffffff;
      text-shadow: 1px 1px 2px #191970;
      
      @include mq(pc) {
        font-size: rempc(12);
        line-height: rempc(12);
        margin-top: rempc(5);
      }
      
      @include mq(sp) {
        font-size: vwsp(11);
        line-height: vwsp(12);
      }
      
      .small {
        @include mq(pc) {
          font-size: rempc(10);
        }
        
        @include mq(sp) {
          font-size: vwsp(10);
        }
      }
    }
  }
}