/* line 1, ../../../src/scss/_layout/_page/_e404.scss */
.e404 {
  position: relative;
  height: 100vh;
}
@media print, screen and (min-width: 769px) {
  /* line 1, ../../../src/scss/_layout/_page/_e404.scss */
  .e404 {
    min-height: 18.75rem;
    padding-top: 4.6875rem;
    margin-top: -4.6875rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 1, ../../../src/scss/_layout/_page/_e404.scss */
  .e404 {
    padding-top: 13.33333vw;
  }
}
/* line 15, ../../../src/scss/_layout/_page/_e404.scss */
.e404-inner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
@media print, screen and (min-width: 769px) {
  /* line 15, ../../../src/scss/_layout/_page/_e404.scss */
  .e404-inner {
    margin-top: 2.34375rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 15, ../../../src/scss/_layout/_page/_e404.scss */
  .e404-inner {
    margin-top: 6.66667vw;
  }
}
