/* line 1, ../../../src/scss/_layout/_page/_login.scss */
.login {
  user-select: none;
  background: #f0f8ff;
}
@media print, screen and (min-width: 769px) {
  /* line 1, ../../../src/scss/_layout/_page/_login.scss */
  .login {
    width: 80%;
    max-width: 46.875rem;
    min-width: 37.5rem;
    margin: 3.125rem auto;
    padding: 1.875rem 3.125rem;
    border: 0.1875rem solid #6495ed;
    border-radius: 0.3125rem;
    box-shadow: 0.1875rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.2);
  }
}
@media only screen and (max-width: 768px) {
  /* line 1, ../../../src/scss/_layout/_page/_login.scss */
  .login {
    width: 90%;
    margin: 8vw auto;
    border: 0.8vw solid #6495ed;
    padding: 2.66667vw 2.66667vw;
    border-radius: 1.33333vw;
    box-shadow: 0.8vw 1.33333vw 1.33333vw rgba(0, 0, 0, 0.2);
  }
}
@media print, screen and (min-width: 769px) {
  /* line 25, ../../../src/scss/_layout/_page/_login.scss */
  .login-btnarea {
    margin-top: 1.25rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 25, ../../../src/scss/_layout/_page/_login.scss */
  .login-btnarea {
    margin-top: 4vw;
  }
}
@media print, screen and (min-width: 769px) {
  /* line 35, ../../../src/scss/_layout/_page/_login.scss */
  .login-button {
    width: 10rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 35, ../../../src/scss/_layout/_page/_login.scss */
  .login-button {
    width: 32vw;
  }
}
/* line 44, ../../../src/scss/_layout/_page/_login.scss */
.login-button.active {
  background: #4169e1;
}
@media print, screen and (min-width: 769px) {
  /* line 49, ../../../src/scss/_layout/_page/_login.scss */
  .login-remember {
    margin-top: 0.625rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 49, ../../../src/scss/_layout/_page/_login.scss */
  .login-remember {
    margin-top: 2.13333vw;
  }
}
/* line 59, ../../../src/scss/_layout/_page/_login.scss */
.login-pwdreset {
  text-align: center;
}
@media print, screen and (min-width: 769px) {
  /* line 59, ../../../src/scss/_layout/_page/_login.scss */
  .login-pwdreset {
    font-size: 0.875rem;
    margin-top: 0.625rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 59, ../../../src/scss/_layout/_page/_login.scss */
  .login-pwdreset {
    font-size: 0.75rem;
    margin-top: 2.13333vw;
  }
}
