$base_back_color: #f0ffff;
$base_font_color: #191970;
$base_link_color: #0000ff;

$block_back_color: #f0f8ff;
$block_border_color: #6495ed;

$focus_font_color: #6495ed;

$button_back_color: #4169e1;

$input_back_color: #ffffff;
$input_border_color: #191970;
$input_font_color: #4169e1;

$input_error_back_color: #ffeeee;
$input_error_border_color: #ff0000;
$input_error_font_color: #ff0000;



$header_back_color: #4169e1;