$editor_header_height_pc: 55px;

$editor_setting_width: 350px;

$editor_simulation_back_color: #f5f5f5;

$editor_setting_back_color: #92d3ff;
$editor_setting_dark_color: #4169e1;
$editor_setting_border_color: #696969;

$editor_setting_btnmove_back_color: #dcdcdc;

$editor_setting_space_between_objects: 8px;