// ヘッダー高さ
$header_height_pc: rempc(55);
$header_height_sp: remsp(30);

// 左右余白
$body_padding_pc: rempc(20);
$body_padding_sp: remsp(20);

// PC/横向きSPの編集エリア横幅
$editor_setting_width_pc: rempc(350);
$editor_setting_width_sp: remsp(350);





$editor_simulation_back_color: #f5f5f5;

$editor_setting_back_color: #92d3ff;
$editor_setting_border_color: #696969;

$editor_setting_btnmove_back_color: #dcdcdc;

$editor_setting_space_between_objects: 8px;