// header全体设置
$header_height_pc: rempc(75);
$header_height_sp: vwsp(50);

$header_menu_back_color: #87ceeb;

$header_button_back_color: #00008b;
$header_button_font_color: #ffffff;
$header_button_border_color: #ffffff;
