/*.*
wp-admin
wp-includes
wp-content/*
!wp-content/themes
wp-content/themes/index.php
wp-content/themes/twenty*/
!wp-content/plugins
wp-content/plugins/index.php
wp-content/plugins/hello.php
!wp-content/dump