.form {
  @include mq(pc) {
    margin: rempc(25) auto;
    max-width: rempc(500);
  }

  @include mq(sp) {
    margin: remsp(10) auto;
  }
  
  &-section {
    width: 80%;
    user-select: none;
    background: $block_back_color;
    border: 3px solid $block_border_color;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.2);
    
    @include mq(pc) {
      max-width: rempc(750);
      margin: rempc(50) auto;
      padding: rempc(30) rempc(50);
      border-radius: rempc(5);
    }
    
    @include mq(sp) {
      max-width: rempc(450);
      margin: remsp(30) auto;
      padding: remsp(10) remsp(20);
      border-radius: remsp(5);
    }
  }
  
  &-line {
    @include mq(pc) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
    }
    
    @include mq(sp) {
      padding-top: remsp(8);
    }
  }
  
  &-title {
    @include mq(pc) {
      width: rempc(150);
      padding-right: rempc(15);
    }
    
    @include mq(sp) {
      padding: remsp(4) remsp(10) 0;
    }
  }
  
  &-input {
    @include mq(pc) {
      flex: 1;
      padding: rempc(8) 0;
    }
    
    @include mq(sp) {
      padding-top: remsp(5);
    }
    
    &-group {
      display: flex;
      justify-content: center;
    }
    
    &-item {
      flex: 1;
      
      @include mq(pc) {
        margin-left: rempc(20);
      }
      
      @include mq(sp) {
        margin-left: remsp(20);
      }
      
      &:first-child {
        margin-left: 0;
      }
    }
  }
  
  &-btnarea {
    @include mq(pc) {
      margin-top: rempc(20);
    }
    
    @include mq(sp) {
      margin-top: remsp(15);
    }
  }
  
  .checkbox {
    display: flex;
    width: fit-content;
    align-items: center;
    
    &-center {
      margin: 0 auto;
    }
    
    &-check {
      display: inline-block;
      position: relative;
      background: $input_back_color;
      border: 1px solid $input_border_color;
      cursor: pointer;
      box-shadow: inset rgba(255,255,255,0.25) 0px 1px 0px, 
                  inset rgba(0,0,0,0.25) 0px 0px 0px, 
                  inset rgba(255,255,255,0.03) 0px 2px 0px, 
                  inset rgba(0,0,0,0.15) 0px -2px 2px, 
                  inset rgba(255,255,255,0.05) 0px 2px 2px;
      
      @include mq(pc) {
        width: rempc(16);
        height: rempc(16);
        margin-right: rempc(7);
        border-radius: rempc(3);
      }
      
      @include mq(sp) {
        width: remsp(12);
        height: remsp(12);
        margin-right: remsp(5);
        border-radius: remsp(3);
      }
      
      input[type="checkbox"] {
        display: none;
      }
      
      &.error {
        background: $input_error_back_color;
        border: 1px solid $input_error_border_color;
      }
      
      &.active {
        &:before {
          content: "";
          position: absolute;
          top: -23.25%;
          left: 60.25%;
          width: 20.125%;
          height: 125%;
          background: $input_font_color;
          transform: rotate(40deg);
        }
        
        &:after {
          content: "";
          position: absolute;
          width: 15.625%;
          height: 54.25%;
          top: 40.25%;
          left: 10.5%;
          background: $input_font_color;
          transform: rotate(-50deg);
        }
      }
    }
  }

  .password {
    display: flex;
    justify-content: space-between;
    
    input[type="text"],input[type="password"] {
      flex: 1;
      
      @include mq(pc) {
        margin-right: rempc(20);
      }
      
      @include mq(sp) {
        margin-right: remsp(20);
      }
    }
    
    &-show {
      background-color: #f0f8ff;
      position: relative;
      filter: none;
      border: 1px solid $input_border_color;
      
      @include mq(pc) {
        width: rempc(35);
      }
      
      @include mq(sp) {
        width: remsp(35);
      }
      
      &-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 0;
        
        @include mq(pc) {
          width: rempc(20);
          height: rempc(20);
        }
        
        @include mq(sp) {
          width: remsp(20);
          height: remsp(20);
        }
        
        path {
          fill: $input_border_color;
        }
      }
      
      &.active {
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: linear-gradient(to left top, transparent calc(50% - 1px), $input_border_color calc(50% - 1px), $input_border_color calc(50% + 1px), transparent calc(50% + 1px));
          
          @include mq(pc) {
            width: rempc(20);
            height: rempc(20);
          }
          
          @include mq(sp) {
            width: remsp(20);
            height: remsp(20);
          }
        }
      }
    }
  }

  .required {
    color: red;
    font-weight: 500;
    
    @include mq(pc) {
      font-size: rempc(12);
      margin-left: rempc(5);
    }
    
    @include mq(sp) {
      font-size: remsp(12);
      margin-left: remsp(3);
    }
  }
  
  .warning {
    color: $input_error_font_color;
    display: none;
    width: 100%;
    user-select: text;
    
    @include mq(pc) {
      font-size: rempc(11);
      padding: rempc(5) rempc(12) 0;
    }
    
    @include mq(sp) {
      font-size: remsp(10);
      padding: remsp(5) remsp(10) 0;
    }
  }
}