.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  user-select: none;
  
  &-inner {
    margin: 0 auto;
    display: flex;
    background: $header_back_color;
    justify-content: space-between;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
  }
  
  &-controller {
    display: flex;
    align-items: center;
  }
}