*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: $base_back_color;
  color: $base_font_color;
  
  &.language-en {
    font-family: "Times";
  }
  
  &.language-zh {
    font-family: "SimHei", "SimSun";
  }
  
  &.language-tc {
    font-family: "MingLiU", "SimSun";
  }
  
  @include mq(pc) {
    font-size: rempc($pc_base_size);
  }
  
  @include mq(sp) {
    font-size: vwsp($sp_base_size);
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  &[src$=".svg"] {
    fill: currentColor;
    width: 100%;
    height: auto;
  }
}

h1, h2 {
  text-align: center;
}

p {
  margin: 0;
}

a {
  color: $base_link_color;
  text-decoration: none;
  
  &.underline {
    text-decoration: underline;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}
