.e404 {
  position: relative;
  height: 100vh;
  
  @include mq(pc) {
    min-height: rempc(300);
    padding-top: $header_height_pc;
    margin-top: (-$header_height_pc);
  }
  
  @include mq(sp) {
    padding-top: $header_height_sp;
  }
  
  &-inner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    
    @include mq(pc) {
      margin-top: $header_height_pc * .5;
    }
    
    @include mq(sp) {
      margin-top: $header_height_sp * .5;
    }
  }
}