.login {
  &-button {
    &.active {
      background: #006400;
    }
  }
  
  &-remember {
    @include mq(pc) {
      margin-top: rempc(10);
    }
    
    @include mq(sp) {
      margin-top: remsp(8);
    }
  }
  
  &-pwdreset {
    text-align: center;
    
    @include mq(pc) {
      font-size: rempc(14);
      margin-top: rempc(10);
    }
    
    @include mq(sp) {
      font-size: rempc(12);
      margin-top: remsp(8);
    }
  }
}