.signup {
  &-button {
    &.active {
      background: $button_back_color;
    }
  }
  
  &-agreement {
    @include mq(pc) {
      margin-top: rempc(10);
    }
    
    @include mq(sp) {
      margin-top: remsp(8);
    }
  }
}