@charset "UTF-8";
/* line 1, ../../../src/scss/_layout/_editor/_setting.scss */
.setting {
  width: 350px;
  overflow: hidden;
  background: #92d3ff;
  user-select: none;
}
/* line 7, ../../../src/scss/_layout/_editor/_setting.scss */
.setting-title {
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
}
/* line 13, ../../../src/scss/_layout/_editor/_setting.scss */
.setting-pc {
  display: none !important;
}
/* line 16, ../../../src/scss/_layout/_editor/_setting.scss */
.setting-pc.active {
  display: block !important;
}
/* line 21, ../../../src/scss/_layout/_editor/_setting.scss */
.setting-sp {
  display: none !important;
}
/* line 24, ../../../src/scss/_layout/_editor/_setting.scss */
.setting-sp.active {
  display: block !important;
}
/* line 29, ../../../src/scss/_layout/_editor/_setting.scss */
.setting-none {
  display: none !important;
}

/* line 1, ../../../src/scss/_layout/_editor/_form.scss */
.form {
  height: calc(100% - 50px);
  overflow: hidden;
}
/* line 5, ../../../src/scss/_layout/_editor/_form.scss */
.form-body {
  overflow: hidden;
  height: 100%;
  width: 700px;
}
/* line 11, ../../../src/scss/_layout/_editor/_form.scss */
.form-block {
  width: 350px;
  height: 100%;
  float: left;
  display: none;
}
/* line 17, ../../../src/scss/_layout/_editor/_form.scss */
.form-block.active {
  display: block;
}
/* line 22, ../../../src/scss/_layout/_editor/_form.scss */
.form-topic {
  background: #4169e1;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 34px;
}
/* line 30, ../../../src/scss/_layout/_editor/_form.scss */
.form-topic-back {
  position: relative;
  width: 25px;
  height: 100%;
  background: #000;
  border-right: 1px solid #fff;
  cursor: pointer;
}
/* line 38, ../../../src/scss/_layout/_editor/_form.scss */
.form-topic-back:before {
  content: "";
  position: absolute;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
/* line 50, ../../../src/scss/_layout/_editor/_form.scss */
.form-topic-text {
  margin: 0 10px;
  width: calc(100% - 45px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 59, ../../../src/scss/_layout/_editor/_form.scss */
.form-content {
  height: calc(100% - 34px);
  overflow-y: auto;
}
/* line 63, ../../../src/scss/_layout/_editor/_form.scss */
.form-content-main {
  margin-top: 15px;
}
/* line 68, ../../../src/scss/_layout/_editor/_form.scss */
.form-line {
  padding: 0 10px;
  margin-bottom: 12px;
}
/* line 73, ../../../src/scss/_layout/_editor/_form.scss */
.form-title {
  padding: 8px 0;
  font-weight: 600;
}
/* line 78, ../../../src/scss/_layout/_editor/_form.scss */
.form-object {
  margin-top: 8px;
}
/* line 82, ../../../src/scss/_layout/_editor/_form.scss */
.form-input {
  padding: 0 5px;
}
/* line 86, ../../../src/scss/_layout/_editor/_form.scss */
.form-checkbox {
  display: block;
  border: 1px solid #6495ed;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
/* line 94, ../../../src/scss/_layout/_editor/_form.scss */
.form-checkbox.checked {
  background: #6495ed;
}
/* line 98, ../../../src/scss/_layout/_editor/_form.scss */
.form-checkbox input[type="checkbox"] {
  display: none;
}
/* line 104, ../../../src/scss/_layout/_editor/_form.scss */
.form-responsive-controller {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 8px;
}
/* line 111, ../../../src/scss/_layout/_editor/_form.scss */
.form-responsive-area {
  margin-top: 8px;
}
/* line 115, ../../../src/scss/_layout/_editor/_form.scss */
.form-responsive-checkbox {
  width: calc(50% - 4px);
}
/* line 118, ../../../src/scss/_layout/_editor/_form.scss */
.form-responsive-checkbox.center {
  margin: 0 auto;
}

/* line 125, ../../../src/scss/_layout/_editor/_form.scss */
.working {
  cursor: wait !important;
  pointer-events: none;
}

/* line 1, ../../../src/scss/_layout/_editor/_color.scss */
.form-color {
  display: flex;
  align-items: center;
}
/* line 5, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-show {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 10, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-showarea {
  width: 16px;
  height: 26px;
  border: 1px solid;
  border-radius: 3px;
  background: #ffffff;
}
/* line 19, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-checkbox {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;
}
/* line 26, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-checkbox.checked {
  background: linear-gradient(to right top, #dddddd calc(50% - 1.5px), #ff0000 calc(50% - 1.5px), #ff0000 calc(50% + 1.5px), #dddddd calc(50% + 1.5px));
}
/* line 30, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-checkbox-check {
  display: none;
}
/* line 35, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-picker {
  position: relative;
  width: 90px;
  margin: 0 6px;
}
/* line 40, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-picker input[type="text"] {
  padding-left: 18px;
}
/* line 44, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-picker:before {
  content: "#";
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  top: 8px;
  left: 9px;
}
/* line 54, ../../../src/scss/_layout/_editor/_color.scss */
.form-color-opacity {
  width: 80px;
}

/* line 1, ../../../src/scss/_layout/_editor/_upload.scss */
.form-upload {
  position: relative;
  margin-top: 8px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  line-height: 34px;
  cursor: pointer;
}
/* line 9, ../../../src/scss/_layout/_editor/_upload.scss */
.form-upload-text {
  padding: 0 12px;
  white-space: nowrap;
  overflow: hidden;
  color: #cccccc;
}
/* line 15, ../../../src/scss/_layout/_editor/_upload.scss */
.form-upload-text.active {
  color: unset;
}
/* line 20, ../../../src/scss/_layout/_editor/_upload.scss */
.form-upload-btndelete {
  position: absolute;
  top: 0;
  right: 34px;
  width: 34px;
  height: 34px;
  border-left: 1px solid #6495ed;
  display: none;
  cursor: pointer;
}
/* line 30, ../../../src/scss/_layout/_editor/_upload.scss */
.form-upload-btndelete:before {
  content: "×";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 39, ../../../src/scss/_layout/_editor/_upload.scss */
.form-upload-btnupload {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 49, ../../../src/scss/_layout/_editor/_upload.scss */
.form-upload-btnupload:before {
  content: "↑";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 58, ../../../src/scss/_layout/_editor/_upload.scss */
.form-upload-file {
  display: none;
}

/* line 2, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-btninsert {
  width: 220px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  text-align: center;
  margin: 0px auto;
  padding: 5px 0;
  cursor: pointer;
}
/* line 12, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-layer {
  border: 1px solid #6495ed;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}
/* line 19, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6495ed;
}
/* line 25, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-btnsort {
  width: 32px;
  height: 32px;
  background-color: #dcdcdc;
  background-image: url("../../img/editor/move.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border-right: 1px solid #6495ed;
  cursor: move;
}
/* line 37, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-name {
  width: calc(100% - 96px);
}
/* line 40, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-name input[type="text"] {
  border: 0;
  border-radius: 0;
}
/* line 46, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-btnslide {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #dcdcdc;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 54, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-btnslide:before {
  content: "";
  position: absolute;
  border-bottom: 12px solid #000000;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 65, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-btnslide:after {
  content: "";
  position: absolute;
  background: #000000;
  width: 18px;
  height: 4px;
  top: 21px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 77, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-btnslide.checked:before {
  border-bottom: 0;
  border-top: 12px solid #000000;
  top: 13px;
}
/* line 82, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-btnslide.checked:after {
  top: 7px;
}
/* line 88, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-btndelete {
  background: #f00;
  border-left: 1px solid #6495ed;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
/* line 96, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-body {
  padding: 10px;
  background: #ffffff;
}
/* line 101, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-chkrepeat {
  margin-top: 8px;
}
/* line 105, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-size {
  margin-top: 8px;
}
/* line 108, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-size-line {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
/* line 114, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-size-key {
  width: 75px;
}
/* line 118, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-size-proportion {
  margin-top: 8px;
}
/* line 122, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-size-value {
  width: calc(100% - 162px);
  margin: 0 6px;
}
/* line 127, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-size-unit {
  width: 75px;
}
/* line 132, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-position {
  margin-top: 8px;
}
/* line 135, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-position-line {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
/* line 141, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-position-key {
  width: calc(100% - 162px);
}
/* line 145, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-position-distance {
  width: 75px;
  margin: 0 6px;
}
/* line 150, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-position-unit {
  width: 75px;
}
/* line 155, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-solid {
  margin-top: 8px;
}
/* line 158, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-solid-line {
  display: flex;
  align-items: center;
  margin: 6px 0;
}
/* line 166, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-type {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
/* line 172, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-chkrepeat {
  margin-top: 8px;
}
/* line 176, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype {
  width: calc((100% - 12px) / 3);
  display: block;
  margin: 0 6px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
}
/* line 184, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype:first-child {
  margin-left: 0;
}
/* line 188, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype:last-child {
  margin-right: 0;
}
/* line 192, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype.checked {
  background: #6495ed;
}
/* line 196, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype-preview {
  width: 60px;
  height: 60px;
  margin: 12px auto 5px;
}
/* line 201, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype-preview.preview-linear {
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff);
}
/* line 205, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype-preview.preview-radial {
  background: radial-gradient(circle at center, #ff0000, #00ff00, #0000ff);
}
/* line 209, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype-preview.preview-conic {
  background: conic-gradient(from 0deg at center, #ff0000, #00ff00, #0000ff, #ff0000);
}
/* line 214, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype-title {
  text-align: center;
}
/* line 218, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rdotype-radio {
  display: none;
}
/* line 223, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-direction {
  margin-top: 8px;
}
/* line 227, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rotate {
  margin-top: 8px;
}
/* line 230, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rotate-inner {
  display: flex;
  align-items: center;
}
/* line 235, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rotate-title {
  width: calc(100% - 152px);
}
/* line 239, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rotate-sim {
  width: 34px;
  height: 34px;
  border: 1px solid #6495ed;
  border-radius: 17px;
  background-image: linear-gradient(90deg, #6495ed, #6495ed);
  background-size: 1px 17px;
  background-repeat: no-repeat;
  background-position: top;
  transform: rotate(0deg);
}
/* line 251, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-rotate input[type="number"] {
  width: 70px;
  margin: 0 6px;
}
/* line 257, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-shape {
  margin-top: 8px;
}
/* line 261, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-list {
  margin-top: 8px;
}
/* line 265, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color {
  border: 1px solid #6495ed;
  border-radius: 5px;
  margin-top: 8px;
  background: #fff;
}
/* line 271, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color:first-child {
  margin-top: 0;
}
/* line 275, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-header {
  display: flex;
  align-items: center;
}
/* line 280, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-line {
  display: flex;
  align-items: center;
}
/* line 285, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-body {
  border-top: 1px solid #6495ed;
  padding: 10px 15px;
}
/* line 290, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-btnsort {
  height: 26px;
  width: 26px;
  border-right: 1px solid #6495ed;
  background-image: url("../../img/editor/move.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  cursor: pointer;
}
/* line 301, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-showarea {
  width: calc(100% - 78px);
  border: 0;
  border-radius: 0;
}
/* line 307, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-checkbox {
  cursor: initial;
}
/* line 311, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-btnslide {
  position: relative;
  height: 26px;
  width: 26px;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 318, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-btnslide:before {
  content: "";
  position: absolute;
  border-bottom: 10px solid #000000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 329, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-btnslide:after {
  content: "";
  position: absolute;
  background: #000000;
  width: 16px;
  height: 4px;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 341, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-btnslide.checked:before {
  border-bottom: 0;
  border-top: 10px solid #000000;
  top: 11px;
}
/* line 346, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-btnslide.checked:after {
  top: 5px;
}
/* line 352, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-btndelete {
  height: 26px;
  width: 26px;
  border-left: 1px solid #6495ed;
  background: #f00;
  cursor: pointer;
}
/* line 360, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-size {
  width: 90px;
  margin-left: 22px;
  margin-right: 6px;
}
/* line 365, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-size-unit {
  width: 80px;
}
/* line 369, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-color-size-percent {
  width: 80px;
}
/* line 375, ../../../src/scss/_layout/_editor/_background.scss */
.form-background-gradient-button {
  text-align: center;
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}

/* line 2, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-btnadd {
  border: 1px solid #6495ed;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
}
/* line 10, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim {
  border: 2px solid #6495ed;
  margin: 8px 0;
}
/* line 14, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim.row-layout {
  display: flex;
  overflow-x: auto;
}
/* line 19, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-dummy {
  margin: 3px 0;
  width: 100%;
  text-align: center;
  display: none;
}
/* line 25, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-dummy.active {
  display: block;
}
/* line 30, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-item {
  border: 1px solid #6495ed;
  margin: 3px;
  padding: 2px 8px;
  text-align: center;
  width: calc(100% - 6px);
  min-width: 68px;
  background: #fff;
}
/* line 39, ../../../src/scss/_layout/_editor/_layout.scss */
.row-layout .form-layout-sim-item {
  padding: 24px 2px 0;
}
/* line 43, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-item.checked {
  background: #6495ed;
  color: #fff;
}
/* line 48, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-item-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* line 54, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-item-btnsort {
  width: 20px;
  height: 20px;
  border: 1px solid #6495ed;
  background-color: #fff;
  background-image: url("../../img/editor/move.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 66, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-item-btnedit {
  width: 20px;
  height: 20px;
  border: 1px solid #6495ed;
  background-color: #0f0;
  cursor: pointer;
}
/* line 74, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-item-btndelete {
  width: 20px;
  height: 20px;
  border: 1px solid #6495ed;
  background-color: #f00;
  cursor: pointer;
}
/* line 82, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-sim-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 69px);
}
/* line 91, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-seltype {
  cursor: pointer;
}
/* line 95, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-position {
  display: flex;
  justify-content: space-between;
}
/* line 100, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition {
  width: calc(25% - 4.5px);
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
}
/* line 106, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-preview {
  width: 50px;
  height: 40px;
  margin: 12px auto 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px dotted #00f;
  overflow: hidden;
}
/* line 116, ../../../src/scss/_layout/_editor/_layout.scss */
.row .form-layout-rdoposition-preview {
  flex-direction: row;
}
/* line 121, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-preview.preview-unstretch .preview-item-1 {
  width: 40px;
}
/* line 124, ../../../src/scss/_layout/_editor/_layout.scss */
.row .form-layout-rdoposition-preview.preview-unstretch .preview-item-1 {
  height: 30px;
  width: 12px;
}
/* line 129, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-preview.preview-unstretch .preview-item-2 {
  width: 30px;
}
/* line 132, ../../../src/scss/_layout/_editor/_layout.scss */
.row .form-layout-rdoposition-preview.preview-unstretch .preview-item-2 {
  height: 20px;
  width: 12px;
}
/* line 137, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-preview.preview-unstretch .preview-item-3 {
  width: 50px;
}
/* line 140, ../../../src/scss/_layout/_editor/_layout.scss */
.row .form-layout-rdoposition-preview.preview-unstretch .preview-item-3 {
  height: 40px;
  width: 12px;
}
/* line 147, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-preview.preview-flex-start {
  align-items: flex-start;
}
/* line 151, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-preview.preview-center {
  align-items: center;
}
/* line 155, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-preview.preview-flex-end {
  align-items: flex-end;
}
/* line 159, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-preview-item {
  height: 9px;
  background: #00f;
}
/* line 163, ../../../src/scss/_layout/_editor/_layout.scss */
.row .form-layout-rdoposition-preview-item {
  width: 12px;
}
/* line 167, ../../../src/scss/_layout/_editor/_layout.scss */
.preview-stretch .form-layout-rdoposition-preview-item {
  width: 50px;
}
/* line 170, ../../../src/scss/_layout/_editor/_layout.scss */
.row .preview-stretch .form-layout-rdoposition-preview-item {
  width: 12px;
  height: 40px;
}
/* line 178, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-title {
  text-align: center;
}
/* line 182, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition-radio {
  display: none;
}
/* line 186, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdoposition.checked {
  background: #6495ed;
}
/* line 191, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-space {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* line 197, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace {
  width: calc((100% - 12px) / 3);
  border: 1px solid #6495ed;
  border-radius: 5px;
  margin-bottom: 6px;
  margin-right: 6px;
  cursor: pointer;
}
/* line 205, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview {
  width: 60px;
  height: 40px;
  margin: 12px auto 5px;
  display: flex;
  flex-direction: column;
  border: 1px dotted #00f;
  overflow: hidden;
}
/* line 214, ../../../src/scss/_layout/_editor/_layout.scss */
.row .form-layout-rdospace-preview {
  flex-direction: row;
}
/* line 218, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview.preview-space-between {
  justify-content: space-between;
}
/* line 222, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview.preview-space-around {
  justify-content: space-around;
}
/* line 226, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview.preview-flex-start {
  justify-content: flex-start;
}
/* line 230, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview.preview-center {
  justify-content: center;
}
/* line 234, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview.preview-flex-end {
  justify-content: flex-end;
}
/* line 238, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview-item {
  width: 60px;
  height: 8px;
}
/* line 242, ../../../src/scss/_layout/_editor/_layout.scss */
.row .form-layout-rdospace-preview-item {
  width: 12px;
  height: 40px;
}
/* line 247, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview-item.preview-item-1 {
  background: #f00;
}
/* line 251, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview-item.preview-item-2 {
  background: #0f0;
}
/* line 255, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-preview-item.preview-item-3 {
  background: #00f;
}
/* line 261, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-title {
  text-align: center;
}
/* line 265, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace-radio {
  display: none;
}
/* line 269, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace.checked {
  background: #6495ed;
}
/* line 273, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-rdospace:nth-child(3n) {
  margin-right: 0;
}
/* line 278, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-padding {
  border: 2px solid #6495ed;
}
/* line 281, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-padding-row {
  display: flex;
  justify-content: center;
  padding: 3px;
}
/* line 287, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-padding-line {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}
/* line 294, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-padding-middle {
  display: flex;
}
/* line 298, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-padding-number {
  width: 60px;
  margin: 3px;
}
/* line 303, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-padding-unit {
  width: 60px;
  margin: 3px;
}
/* line 308, ../../../src/scss/_layout/_editor/_layout.scss */
.form-layout-padding-center {
  width: 100%;
  padding: 30px 0;
  border: 1px solid #6495ed;
  text-align: center;
  line-height: 100%;
}

/* line 2, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-limitflag {
  display: flex;
}
/* line 5, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-limitflag-title {
  width: calc(100% - 250px);
}
/* line 10, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-chklimitflag {
  margin-left: 5px;
  width: 120px;
}
/* line 15, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-whtype {
  margin-top: 5px;
}
/* line 20, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-relative-inner {
  border: 2px solid #6495ed;
  margin: 5px auto 0;
  width: 300px;
}
/* line 25, ../../../src/scss/_layout/_editor/_position.scss */
.relative-width .form-position-relative-inner {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
/* line 31, ../../../src/scss/_layout/_editor/_position.scss */
.relative-height .form-position-relative-inner {
  padding: 0 5px;
}
/* line 37, ../../../src/scss/_layout/_editor/_position.scss */
.relative-width .form-position-relative-setting {
  width: 90px;
  padding: 0 5px;
}
/* line 42, ../../../src/scss/_layout/_editor/_position.scss */
.relative-height .form-position-relative-setting {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}
/* line 49, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-relative-self {
  border: 1px solid #6495ed;
  text-align: center;
}
/* line 53, ../../../src/scss/_layout/_editor/_position.scss */
.relative-width .form-position-relative-self {
  width: calc(100% - 180px);
  padding: 30px 0;
}
/* line 58, ../../../src/scss/_layout/_editor/_position.scss */
.relative-height .form-position-relative-self {
  padding: 8px 0;
}
/* line 64, ../../../src/scss/_layout/_editor/_position.scss */
.relative-width .form-position-relative-number {
  width: 80px;
}
/* line 68, ../../../src/scss/_layout/_editor/_position.scss */
.relative-height .form-position-relative-number {
  width: calc(100% - 85px);
}
/* line 73, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-relative-unit {
  width: 80px;
}
/* line 76, ../../../src/scss/_layout/_editor/_position.scss */
.relative-width .form-position-relative-unit {
  margin-top: 5px;
}
/* line 80, ../../../src/scss/_layout/_editor/_position.scss */
.relative-height .form-position-relative-unit {
  margin-left: 5px;
}
/* line 86, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-custom {
  margin-top: 5px;
}
/* line 89, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-custom-inner {
  display: flex;
  justify-content: space-between;
}
/* line 94, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-custom-number {
  width: calc(100% - 85px);
}
/* line 98, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-custom-unit {
  width: 80px;
}
/* line 104, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-margin-inner {
  display: flex;
  justify-content: space-between;
}
/* line 109, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-margin-number {
  width: calc(100% - 85px);
}
/* line 113, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-margin-unit {
  width: 80px;
}
/* line 119, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-limit-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
/* line 126, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-limit-title {
  width: calc(100% - 230px);
}
/* line 130, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-limit-number {
  width: 140px;
}
/* line 134, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-limit-unit {
  width: 80px;
}
/* line 139, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-horizontal {
  display: flex;
  justify-content: space-between;
}
/* line 144, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdohorizontal {
  width: calc((100% - 12px) / 3);
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
}
/* line 150, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdohorizontal-preview {
  width: 60px;
  margin: 12px auto 5px;
  display: flex;
  border: 1px dotted #00f;
  overflow: hidden;
}
/* line 157, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdohorizontal-preview.preview-center {
  justify-content: center;
}
/* line 161, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdohorizontal-preview.preview-right {
  justify-content: right;
}
/* line 165, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdohorizontal-preview-item {
  width: 35px;
  height: 40px;
  background: #00f;
}
/* line 172, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdohorizontal-title {
  text-align: center;
}
/* line 176, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdohorizontal-radio {
  display: none;
}
/* line 180, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdohorizontal.checked {
  background: #6495ed;
}
/* line 185, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-vertical {
  display: flex;
  justify-content: space-between;
}
/* line 190, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdovertical {
  width: calc((100% - 12px) / 3);
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
}
/* line 196, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdovertical-preview {
  width: 60px;
  height: 40px;
  margin: 12px auto 5px;
  display: flex;
  border: 1px dotted #00f;
  overflow: hidden;
}
/* line 204, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdovertical-preview.preview-center {
  align-items: center;
}
/* line 208, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdovertical-preview.preview-bottom {
  align-items: flex-end;
}
/* line 212, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdovertical-preview-item {
  width: 100%;
  height: 25px;
  background: #00f;
}
/* line 219, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdovertical-title {
  text-align: center;
}
/* line 223, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdovertical-radio {
  display: none;
}
/* line 227, ../../../src/scss/_layout/_editor/_position.scss */
.form-position-rdovertical.checked {
  background: #6495ed;
}
