.form {
  height: calc(100% - 50px);
  overflow: hidden;
  
  &-body {
    overflow: hidden;
    height: 100%;
    
    @include mq(pc) {
      width: calc(#{$editor_setting_width_pc} * 2);
    }
    
    @include mq(sp) {
      @include dr(la) {
        width: calc(#{$editor_setting_width_sp} * 2);
      }
      
      @include dr(po) {
        width: 200vw;
      }
    }
  }
  
  &-block {
    height: 100%;
    float: left;
    display: none;
    
    @include mq(pc) {
      width: $editor_setting_width_pc;
    }
    
    &.active {
      display: block;
    }
  }
  
  &-topic {
    background: #4169e1;
    color: #ffffff;
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 34px;
    
    &-back {
      position: relative;
      width: 25px;
      height: 100%;
      background: #000;
      border-right: 1px solid #fff;
      cursor: pointer;
      
      &:before {
        content: "";
        position: absolute;
        border-right: 10px solid #fff;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
      }
    }
    
    &-text {
      margin: 0 10px;
      width: calc(100% - 45px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
  &-content {
    --scrollbar-size: 10px;
    height: calc(100% - 34px);
    overflow-y: auto;
    
    &::-webkit-scrollbar {
      width: var(--scrollbar-size);
      height: var(--scrollbar-size);
      background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #4169e1;
      border-radius: calc(var(--scrollbar-size) / 2);
    }
    
    &-main {
      margin-top: 15px;
    }
  }
  
  &-line {
    padding: 0 10px;
    margin-bottom: 12px;
  }
  
  &-title {
    padding: 8px 0;
    font-weight: 600;
  }
  
  &-object {
    margin-top: 8px;
  }
  
  &-input {
    padding: 0 5px;
  }

  &-checkbox {
    display: block;
    border: 1px solid $block_border_color;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    
    &.checked {
      background: $block_border_color;
    }
    
    input[type="checkbox"] {
      display: none;
    }
    
    &-check {
      display: inline-block;
      position: relative;
      background: $input_back_color;
      border: 1px solid $input_border_color;
      cursor: pointer;
      box-shadow: inset rgba(255,255,255,0.25) 0px 1px 0px, 
                  inset rgba(0,0,0,0.25) 0px 0px 0px, 
                  inset rgba(255,255,255,0.03) 0px 2px 0px, 
                  inset rgba(0,0,0,0.15) 0px -2px 2px, 
                  inset rgba(255,255,255,0.05) 0px 2px 2px;
      
      @include mq(pc) {
        width: rempc(16);
        height: rempc(16);
        margin-right: rempc(6);
        border-radius: rempc(3);
      }
      
      @include mq(sp) {
        width: remsp(12);
        height: remsp(12);
        margin-right: remsp(5);
        border-radius: remsp(3);
      }
      
      &.error {
        background: $input_error_back_color;
        border: 1px solid $input_error_border_color;
      }
      
      &.active {
        &:before {
          content: "";
          position: absolute;
          top: -23.25%;
          left: 60.25%;
          width: 20.125%;
          height: 125%;
          background: $input_font_color;
          transform: rotate(40deg);
        }
        
        &:after {
          content: "";
          position: absolute;
          width: 15.625%;
          height: 54.25%;
          top: 40.25%;
          left: 10.5%;
          background: $input_font_color;
          transform: rotate(-50deg);
        }
      }
    }
  }
  
  &-responsive {
    &-controller {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 6px 8px;
    }
    
    &-area {
      margin-top: 8px;
    }
    
    &-checkbox {
      width: calc(50% - 4px);
      
      &.center {
        margin: 0 auto;
      }
    }
  }
}

.working {
  cursor: wait !important;
  pointer-events: none;
}