.setting {
  overflow: hidden;
  background: $editor_setting_back_color;
  user-select: none;
  
  @include mq(pc) {
    width: $editor_setting_width_pc;
  }
  
  @include mq(sp) {
    @include dr(la) {
      width: $editor_setting_width_sp;
    }
    
    @include dr(po) {
      width: 100vw;
      height: 30vh;
    }
  }
  
  &-title {
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
  }
  
  &-pc {
    display: none !important;
    
    &.active {
      display: block !important;
    }
  }
  
  &-sp {
    display: none !important;
    
    &.active {
      display: block !important;
    }
  }
  
  &-none {
    display: none !important;
  }
}