@charset "UTF-8";
/* line 1, ../../../src/scss/_layout/_common/_common/_tag.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, ../../../src/scss/_layout/_common/_common/_tag.scss */
body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #f0ffff;
  color: #191970;
}
/* line 14, ../../../src/scss/_layout/_common/_common/_tag.scss */
body.language-en {
  font-family: "Times";
}
/* line 18, ../../../src/scss/_layout/_common/_common/_tag.scss */
body.language-zh {
  font-family: "SimHei", "SimSun";
}
/* line 22, ../../../src/scss/_layout/_common/_common/_tag.scss */
body.language-tc {
  font-family: "MingLiU", "SimSun";
}
@media print, screen and (min-width: 769px) {
  /* line 7, ../../../src/scss/_layout/_common/_common/_tag.scss */
  body {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 7, ../../../src/scss/_layout/_common/_common/_tag.scss */
  body {
    font-size: 3.2vw;
  }
}

/* line 35, ../../../src/scss/_layout/_common/_common/_tag.scss */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
/* line 39, ../../../src/scss/_layout/_common/_common/_tag.scss */
img[src$=".svg"] {
  fill: currentColor;
  width: 100%;
  height: auto;
}

/* line 46, ../../../src/scss/_layout/_common/_common/_tag.scss */
h1, h2 {
  text-align: center;
}

/* line 50, ../../../src/scss/_layout/_common/_common/_tag.scss */
p {
  margin: 0;
}

/* line 54, ../../../src/scss/_layout/_common/_common/_tag.scss */
a {
  color: #0000ff;
  text-decoration: none;
}
/* line 58, ../../../src/scss/_layout/_common/_common/_tag.scss */
a.underline {
  text-decoration: underline;
}

/* line 63, ../../../src/scss/_layout/_common/_common/_tag.scss */
ul {
  margin: 0;
  padding: 0;
}

/* line 68, ../../../src/scss/_layout/_common/_common/_tag.scss */
li {
  list-style-type: none;
}

/* line 1, ../../../src/scss/_layout/_common/_common/_class.scss */
.left {
  text-align: left;
}

/* line 5, ../../../src/scss/_layout/_common/_common/_class.scss */
.center {
  text-align: center;
}

/* line 9, ../../../src/scss/_layout/_common/_common/_class.scss */
.right {
  text-align: right;
}

@media only screen and (max-width: 768px) {
  /* line 13, ../../../src/scss/_layout/_common/_common/_class.scss */
  .pc-only {
    display: none !important;
  }
}

@media print, screen and (min-width: 769px) {
  /* line 19, ../../../src/scss/_layout/_common/_common/_class.scss */
  .sp-only {
    display: none !important;
  }
}

/* line 25, ../../../src/scss/_layout/_common/_common/_class.scss */
.full-link {
  display: block !important;
  width: 100%;
  height: 100%;
}

/* line 31, ../../../src/scss/_layout/_common/_common/_class.scss */
.hidden {
  display: none;
}

/* line 35, ../../../src/scss/_layout/_common/_common/_class.scss */
.attention {
  font-size: 0.75rem;
  position: relative;
  width: fit-content;
  margin: 0 auto;
  color: #6495ed;
  font-weight: normal;
}
@media only screen and (max-width: 768px) {
  /* line 35, ../../../src/scss/_layout/_common/_common/_class.scss */
  .attention {
    padding-left: 4vw;
  }
}
/* line 47, ../../../src/scss/_layout/_common/_common/_class.scss */
.attention:before {
  content: "※";
  position: absolute;
  top: 0;
}
@media print, screen and (min-width: 769px) {
  /* line 47, ../../../src/scss/_layout/_common/_common/_class.scss */
  .attention:before {
    left: -0.9375rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 47, ../../../src/scss/_layout/_common/_common/_class.scss */
  .attention:before {
    left: 0;
  }
}

/* line 62, ../../../src/scss/_layout/_common/_common/_class.scss */
.button {
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-shadow: rgba(0, 0, 0, 0.9) 0px 1px 2px;
  border: 1px solid #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px, inset rgba(255, 255, 255, 0.25) 0px 1px 0px, inset rgba(0, 0, 0, 0.25) 0px 0px 0px, inset rgba(255, 255, 255, 0.03) 0px 20px 0px, inset rgba(0, 0, 0, 0.15) 0px -20px 20px, inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
}
@media print, screen and (min-width: 769px) {
  /* line 62, ../../../src/scss/_layout/_common/_common/_class.scss */
  .button {
    padding: 0.5rem 0;
    font-size: 1.125rem;
    border-radius: 0.25rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 62, ../../../src/scss/_layout/_common/_common/_class.scss */
  .button {
    padding: 0.8vw 0;
    font-size: 3.73333vw;
    border-radius: 1.06667vw;
  }
}
/* line 94, ../../../src/scss/_layout/_common/_common/_class.scss */
.button a {
  color: #ffffff;
}
/* line 98, ../../../src/scss/_layout/_common/_common/_class.scss */
.button.shine-active {
  overflow: hidden;
}
/* line 101, ../../../src/scss/_layout/_common/_common/_class.scss */
.button.shine-active:before {
  content: "";
  position: absolute;
  background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0) 100%);
  top: -100%;
  height: 300%;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 5px;
  transform: rotate(30deg);
  left: -20%;
}
@media print, screen and (min-width: 769px) {
  /* line 101, ../../../src/scss/_layout/_common/_common/_class.scss */
  .button.shine-active:before {
    width: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 101, ../../../src/scss/_layout/_common/_common/_class.scss */
  .button.shine-active:before {
    width: 5.33333vw;
  }
}
/* line 122, ../../../src/scss/_layout/_common/_common/_class.scss */
.button.shine-active.active:before {
  left: 110%;
  transition: all 0.6s ease-in-out;
}
/* line 129, ../../../src/scss/_layout/_common/_common/_class.scss */
.button-link {
  padding: 0;
}
@media print, screen and (min-width: 769px) {
  /* line 132, ../../../src/scss/_layout/_common/_common/_class.scss */
  .button-link .full-link {
    padding: 0.5rem 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 132, ../../../src/scss/_layout/_common/_common/_class.scss */
  .button-link .full-link {
    padding: 0.8vw 0;
  }
}

/* line 145, ../../../src/scss/_layout/_common/_common/_class.scss */
.form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="number"], .form select {
  width: 100%;
  outline: none;
  border: 1px solid #191970;
  cursor: pointer;
  box-shadow: inset rgba(255, 255, 255, 0.25) 0px 1px 0px, inset rgba(0, 0, 0, 0.25) 0px 0px 0px, inset rgba(255, 255, 255, 0.03) 0px 2px 0px, inset rgba(0, 0, 0, 0.15) 0px -2px 2px, inset rgba(255, 255, 255, 0.05) 0px 2px 2px;
}
@media print, screen and (min-width: 769px) {
  /* line 145, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="number"], .form select {
    font-size: 0.875rem;
    padding: 0.5rem 0.625rem;
    border-radius: 0.25rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 145, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="number"], .form select {
    font-size: 3.2vw;
    padding: 2.13333vw 2.66667vw;
    border-radius: 0.8vw;
  }
}
/* line 168, ../../../src/scss/_layout/_common/_common/_class.scss */
.form input[type="text"].error, .form input[type="password"].error, .form input[type="email"].error, .form input[type="number"].error, .form select.error {
  background: #ffeeee;
  border: 1px solid #ff0000;
}
/* line 174, ../../../src/scss/_layout/_common/_common/_class.scss */
.form .password-group {
  display: flex;
  justify-content: space-between;
}
/* line 178, ../../../src/scss/_layout/_common/_common/_class.scss */
.form .password-group input[type="text"], .form .password-group input[type="password"] {
  width: 76%;
}
/* line 183, ../../../src/scss/_layout/_common/_common/_class.scss */
.form .password-show {
  background-color: #f0f8ff;
  background-image: url("../../img/common/password-show.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 20%;
  position: relative;
  margin-right: 0;
}
@media print, screen and (min-width: 769px) {
  /* line 183, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form .password-show {
    background-size: 1.5625rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 183, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form .password-show {
    background-size: 5.33333vw;
  }
}
/* line 201, ../../../src/scss/_layout/_common/_common/_class.scss */
.form .password-show.active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to left top, transparent calc(50% - 1px), #c2c2c2 calc(50% - 1px), #c2c2c2 calc(50% + 1px), transparent calc(50% + 1px));
}
@media print, screen and (min-width: 769px) {
  /* line 201, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form .password-show.active:before {
    width: 1.5625rem;
    height: 1.5625rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 201, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form .password-show.active:before {
    width: 5.33333vw;
    height: 5.33333vw;
  }
}
/* line 226, ../../../src/scss/_layout/_common/_common/_class.scss */
.form-checkbox {
  width: fit-content;
}
/* line 229, ../../../src/scss/_layout/_common/_common/_class.scss */
.form-checkbox-check {
  display: inline-block;
  position: relative;
  background: #ffffff;
  border: 1px solid #191970;
  cursor: pointer;
  box-shadow: inset rgba(255, 255, 255, 0.25) 0px 1px 0px, inset rgba(0, 0, 0, 0.25) 0px 0px 0px, inset rgba(255, 255, 255, 0.03) 0px 2px 0px, inset rgba(0, 0, 0, 0.15) 0px -2px 2px, inset rgba(255, 255, 255, 0.05) 0px 2px 2px;
}
@media print, screen and (min-width: 769px) {
  /* line 229, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form-checkbox-check {
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 3px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 229, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form-checkbox-check {
    width: 3.2vw;
    height: 3.2vw;
    margin-right: 1.33333vw;
    border-radius: 0.8vw;
  }
}
/* line 255, ../../../src/scss/_layout/_common/_common/_class.scss */
.form-checkbox-check input[type="checkbox"] {
  display: none;
}
/* line 259, ../../../src/scss/_layout/_common/_common/_class.scss */
.form-checkbox-check.error {
  background: #ffeeee;
  border: 1px solid #ff0000;
}
/* line 265, ../../../src/scss/_layout/_common/_common/_class.scss */
.form-checkbox-check.active:before {
  content: "";
  position: absolute;
  top: -23.25%;
  left: 60.25%;
  width: 20.125%;
  height: 125%;
  background: #4169e1;
  transform: rotate(40deg);
}
/* line 276, ../../../src/scss/_layout/_common/_common/_class.scss */
.form-checkbox-check.active:after {
  content: "";
  position: absolute;
  width: 15.625%;
  height: 54.25%;
  top: 40.25%;
  left: 10.5%;
  background: #4169e1;
  transform: rotate(-50deg);
}
/* line 290, ../../../src/scss/_layout/_common/_common/_class.scss */
.form .required {
  color: red;
  font-weight: 500;
}
@media print, screen and (min-width: 769px) {
  /* line 290, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form .required {
    font-size: 0.75rem;
    margin-left: 0.3125rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 290, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form .required {
    font-size: 3.2vw;
    margin-left: 0.8vw;
  }
}
/* line 305, ../../../src/scss/_layout/_common/_common/_class.scss */
.form .warning {
  color: #ff0000;
  display: none;
  width: 100%;
  user-select: text;
}
@media print, screen and (min-width: 769px) {
  /* line 305, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form .warning {
    font-size: 0.6875rem;
    padding: 0.3125rem 0.75rem 0;
  }
}
@media only screen and (max-width: 768px) {
  /* line 305, ../../../src/scss/_layout/_common/_common/_class.scss */
  .form .warning {
    font-size: 2.66667vw;
    padding: 1.33333vw 2.66667vw 0;
  }
}

/* line 323, ../../../src/scss/_layout/_common/_common/_class.scss */
.float-description {
  display: none;
  position: absolute;
  z-index: 1;
  background: #000;
  color: #ffffff;
  pointer-events: none;
  white-space: nowrap;
}
@media print, screen and (min-width: 769px) {
  /* line 323, ../../../src/scss/_layout/_common/_common/_class.scss */
  .float-description {
    font-size: 0.625rem;
    line-height: 0.875rem;
    padding: 0.125rem 0.625rem;
    border-radius: 0.1875rem;
  }
}
@media only screen and (max-width: 768px) {
  /* line 323, ../../../src/scss/_layout/_common/_common/_class.scss */
  .float-description {
    font-size: 2.66667vw;
    line-height: 3.73333vw;
    padding: 0.53333vw 2.66667vw;
    border-radius: 0.8vw;
  }
}

/* line 1, ../../../src/scss/_layout/_common/_common/_header.scss */
.header {
  width: 100%;
  position: fixed;
  z-index: 999;
  user-select: none;
}
/* line 7, ../../../src/scss/_layout/_common/_common/_header.scss */
.header-inner {
  margin: 0 auto;
  display: flex;
  background: #4169e1;
  justify-content: space-between;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
/* line 15, ../../../src/scss/_layout/_common/_common/_header.scss */
.header-controller {
  display: flex;
  align-items: center;
}
