@charset "UTF-8";
/* line 1, ../../../src/scss/_layout/_common/_editor/_tag.scss */
body {
  overflow: hidden;
}

/* line 2, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-editor {
  font-size: 16px;
}
/* line 6, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-inner-editor {
  height: 55px;
}
/* line 10, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim {
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
}
/* line 16, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 3px;
}
/* line 24, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-device {
  background-color: #b0c4de;
}
/* line 27, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-device.checked {
  background-color: #e6e6fa;
  cursor: initial;
}
/* line 32, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-device-pc {
  background-image: url("../../img/common/computer.svg");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* line 39, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-device-sp {
  background-image: url("../../img/common/smartphone.svg");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* line 47, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting {
  display: none;
}
/* line 50, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting.active {
  display: block;
}
/* line 54, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-inner {
  display: flex;
  align-items: center;
}
/* line 59, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-input {
  width: 60px;
  height: 30px;
  padding: 5px;
  margin: 0 5px;
}
/* line 65, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-input-device {
  width: 120px;
}
/* line 70, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-title {
  margin-left: 5px;
}
/* line 74, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-unit {
  margin-right: 5px;
}
/* line 79, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-adaptive {
  background-color: #e6e6fa;
  background-image: url("../../img/common/shrink.svg");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* line 86, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-adaptive.checked {
  background-image: url("../../img/common/expansion.svg");
}
/* line 91, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-swirl {
  background-color: #e6e6fa;
  background-image: url("../../img/common/swirl.svg");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* line 100, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-controller-editor {
  padding: 0 20px;
}
/* line 104, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-button {
  height: 30px;
  background: #32cd32;
  width: 80px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  text-shadow: 1px 1px 2px #2f4f4f;
  letter-spacing: 0.05em;
  color: #f0fff0;
  font-weight: bold;
  cursor: pointer;
}

/* line 1, ../../../src/scss/_layout/_common/_editor/_main.scss */
.main-editor {
  display: flex;
  height: 100vh;
  padding-top: 55px;
  font-size: 16px;
}

/* line 1, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim {
  width: calc(100% - 350px);
  background: #f5f5f5;
  overflow: auto;
}
/* line 6, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 14, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-pc {
  display: flex;
}
/* line 18, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-sp {
  display: none;
}
/* line 22, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-inner {
  position: relative;
  border: 2px solid #696969;
  background: #ffffff;
  margin: 0 auto;
  width: fit-content;
  overflow: hidden;
}
/* line 31, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-html {
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
  transform-origin: left top;
  position: relative;
}

/* line 1, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting {
  width: 350px;
  overflow: hidden;
  background: #92d3ff;
  user-select: none;
}
/* line 7, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-title {
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
}
/* line 13, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-pc {
  display: none !important;
}
/* line 16, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-pc.active {
  display: block !important;
}
/* line 21, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-sp {
  display: none !important;
}
/* line 24, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-sp.active {
  display: block !important;
}
/* line 29, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-none {
  display: none !important;
}

/* line 34, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form {
  height: calc(100% - 50px);
  overflow: hidden;
}
/* line 38, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-body {
  overflow: hidden;
  height: 100%;
  width: 700px;
}
/* line 44, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-block {
  width: 350px;
  height: 100%;
  float: left;
  display: none;
}
/* line 50, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-block.active {
  display: block;
}
/* line 55, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-topic {
  background: #4169e1;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 34px;
}
/* line 63, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-topic-back {
  position: relative;
  width: 25px;
  height: 100%;
  background: #000;
  border-right: 1px solid #fff;
  cursor: pointer;
}
/* line 71, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-topic-back:before {
  content: "";
  position: absolute;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
/* line 83, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-topic-text {
  margin: 0 10px;
  width: calc(100% - 45px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 92, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-content {
  height: calc(100% - 34px);
  overflow-y: auto;
}
/* line 96, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-content-main {
  margin-top: 15px;
}
/* line 101, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-line {
  padding: 0 10px;
}
/* line 105, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-title {
  padding: 8px 0;
  font-weight: 600;
}
/* line 110, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-input {
  padding: 0 5px;
}
/* line 114, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-checkbox {
  display: block;
  border: 1px solid #6495ed;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
/* line 122, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-checkbox.checked {
  background: #6495ed;
}
/* line 126, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-checkbox input[type="checkbox"] {
  display: none;
}
/* line 132, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-responsive-controller {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 8px;
}
/* line 139, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-responsive-area {
  margin-top: 8px;
}
/* line 143, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-responsive-checkbox {
  width: calc(50% - 4px);
}
/* line 146, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-responsive-checkbox.center {
  margin: 0 auto;
}
/* line 153, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btninsert {
  width: 220px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  text-align: center;
  margin: 0px auto;
  padding: 5px 0;
  cursor: pointer;
}
/* line 163, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-layer {
  border: 1px solid #6495ed;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}
/* line 170, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6495ed;
}
/* line 176, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnsort {
  width: 32px;
  height: 32px;
  background-color: #dcdcdc;
  background-image: url("../../img/common/move.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border-right: 1px solid #6495ed;
  cursor: move;
}
/* line 188, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-name {
  width: calc(100% - 96px);
}
/* line 191, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-name input[type="text"] {
  border: 0;
  border-radius: 0;
}
/* line 197, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #dcdcdc;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 205, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide:before {
  content: "";
  position: absolute;
  border-bottom: 12px solid #000000;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 216, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide:after {
  content: "";
  position: absolute;
  background: #000000;
  width: 18px;
  height: 4px;
  top: 21px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 228, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide.checked:before {
  border-bottom: 0;
  border-top: 12px solid #000000;
  top: 13px;
}
/* line 233, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide.checked:after {
  top: 7px;
}
/* line 239, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btndelete {
  background: #f00;
  border-left: 1px solid #6495ed;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
/* line 247, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-body {
  padding: 10px;
  background: #ffffff;
}
/* line 252, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-content {
  display: none;
}
/* line 256, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-chkrepeat {
  margin-top: 8px;
}
/* line 261, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color {
  margin-top: 8px;
}
/* line 264, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-line {
  display: flex;
  align-items: center;
  margin: 6px 0;
}
/* line 270, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-show {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 275, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-showarea {
  width: 16px;
  height: 26px;
  border: 1px solid;
  border-radius: 3px;
  background: #ffffff;
}
/* line 284, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-checkbox {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: transparent;
}
/* line 291, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-checkbox.checked {
  background: linear-gradient(to right top, #dddddd calc(50% - 1.5px), #ff0000 calc(50% - 1.5px), #ff0000 calc(50% + 1.5px), #dddddd calc(50% + 1.5px));
}
/* line 295, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-checkbox-check {
  display: none;
}
/* line 300, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-picker {
  position: relative;
  width: 90px;
  margin: 0 6px;
}
/* line 305, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-picker input[type="text"] {
  padding-left: 18px;
}
/* line 309, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-picker:before {
  content: "#";
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  top: 8px;
  left: 9px;
}
/* line 319, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-opacity {
  width: 80px;
}
/* line 323, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-size {
  width: 90px;
  margin-left: 22px;
  margin-right: 6px;
}
/* line 329, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-unit {
  width: 80px;
}
/* line 333, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-percent {
  width: 80px;
}
/* line 338, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload {
  position: relative;
  margin-top: 8px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  line-height: 34px;
  cursor: pointer;
}
/* line 346, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-text {
  padding: 0 12px;
  white-space: nowrap;
  overflow: hidden;
  color: #cccccc;
}
/* line 352, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-text.active {
  color: unset;
}
/* line 357, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-btndelete {
  position: absolute;
  top: 0;
  right: 34px;
  width: 34px;
  height: 34px;
  border-left: 1px solid #6495ed;
  display: none;
  cursor: pointer;
}
/* line 367, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-btndelete:before {
  content: "×";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 376, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-btnupload {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 386, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-btnupload:before {
  content: "↑";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 395, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-file {
  display: none;
}
/* line 400, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position {
  margin-top: 8px;
}
/* line 403, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position-line {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
/* line 409, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position-key {
  width: calc(100% - 152px);
}
/* line 413, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position-distance {
  width: 70px;
  margin: 0 6px;
}
/* line 418, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position-unit {
  width: 70px;
}
/* line 423, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size {
  margin-top: 8px;
}
/* line 426, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-line {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
/* line 432, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-key {
  width: calc(100% - 152px);
}
/* line 436, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-proportion {
  margin-top: 8px;
}
/* line 440, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-value {
  width: 70px;
  margin: 0 6px;
}
/* line 445, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-unit {
  width: 70px;
}
/* line 451, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-type {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
/* line 457, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-chkrepeat {
  margin-top: 8px;
}
/* line 461, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype {
  width: calc((100% - 12px) / 3);
  display: block;
  margin: 0 6px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
}
/* line 469, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype:first-child {
  margin-left: 0;
}
/* line 473, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype:last-child {
  margin-right: 0;
}
/* line 477, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype.checked {
  background: #6495ed;
}
/* line 481, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-preview {
  width: 60px;
  height: 60px;
  margin: 12px auto 5px;
}
/* line 486, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-preview.preview-linear {
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff);
}
/* line 490, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-preview.preview-radial {
  background: radial-gradient(circle at center, #ff0000, #00ff00, #0000ff);
}
/* line 494, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-preview.preview-conic {
  background: conic-gradient(from 0deg at center, #ff0000, #00ff00, #0000ff, #ff0000);
}
/* line 499, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-title {
  text-align: center;
}
/* line 503, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-radio {
  display: none;
}
/* line 508, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-direction {
  margin-top: 8px;
}
/* line 512, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate {
  margin-top: 8px;
}
/* line 515, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate-inner {
  display: flex;
  align-items: center;
}
/* line 520, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate-title {
  width: calc(100% - 152px);
}
/* line 524, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate-sim {
  width: 34px;
  height: 34px;
  border: 1px solid #6495ed;
  border-radius: 17px;
  background-image: linear-gradient(90deg, #6495ed, #6495ed);
  background-size: 1px 17px;
  background-repeat: no-repeat;
  background-position: top;
  transform: rotate(0deg);
}
/* line 536, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate input[type="number"] {
  width: 70px;
  margin: 0 6px;
}
/* line 542, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-shape {
  margin-top: 8px;
}
/* line 546, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-list {
  margin-top: 8px;
}
/* line 550, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color {
  border: 1px solid #6495ed;
  border-radius: 5px;
  margin-top: 8px;
  background: #fff;
}
/* line 556, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color:first-child {
  margin-top: 0;
}
/* line 560, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-header {
  display: flex;
  align-items: center;
}
/* line 565, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-body {
  border-top: 1px solid #6495ed;
  padding: 0 8px;
}
/* line 570, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnsort {
  height: 26px;
  width: 26px;
  border-right: 1px solid #6495ed;
  background-image: url("../../img/common/move.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  cursor: pointer;
}
/* line 581, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-showarea {
  width: calc(100% - 78px);
  border: 0;
  border-radius: 0;
}
/* line 587, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-checkbox {
  cursor: initial;
}
/* line 591, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide {
  position: relative;
  height: 26px;
  width: 26px;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 598, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide:before {
  content: "";
  position: absolute;
  border-bottom: 10px solid #000000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 609, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide:after {
  content: "";
  position: absolute;
  background: #000000;
  width: 16px;
  height: 4px;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 621, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide.checked:before {
  border-bottom: 0;
  border-top: 10px solid #000000;
  top: 11px;
}
/* line 626, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide.checked:after {
  top: 5px;
}
/* line 632, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btndelete {
  height: 26px;
  width: 26px;
  border-left: 1px solid #6495ed;
  background: #f00;
  cursor: pointer;
}
/* line 641, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-button {
  text-align: center;
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}
/* line 651, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-btnadd {
  border: 1px solid #6495ed;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  margin-top: 8px;
}
/* line 659, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim {
  border: 2px solid #6495ed;
  margin: 8px 0;
}
/* line 663, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim.row-layout {
  display: flex;
  overflow-x: auto;
}
/* line 668, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-dummy {
  margin: 3px;
  text-align: center;
  display: none;
}
/* line 673, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-dummy.active {
  display: block;
}
/* line 678, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-item {
  position: relative;
  border: 1px solid #6495ed;
  margin: 3px;
  padding: 0 68px 0 2px;
  text-align: center;
  width: calc(100% - 6px);
  min-width: 68px;
}
/* line 687, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.row-layout .form-layout-sim-item {
  padding: 24px 2px 0;
}
/* line 691, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-item.checked {
  background: #6495ed;
  color: #fff;
}
/* line 696, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-item-btnsort {
  position: absolute;
  top: 2px;
  right: 46px;
  width: 20px;
  height: 20px;
  border: 1px solid #6495ed;
  background-color: #fff;
  background-image: url("../../img/common/move.svg");
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 711, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-item-btnedit {
  position: absolute;
  top: 2px;
  right: 24px;
  width: 20px;
  height: 20px;
  border: 1px solid #6495ed;
  background-color: #0f0;
  cursor: pointer;
}
/* line 722, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-item-btndelete {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid #6495ed;
  background-color: #f00;
  cursor: pointer;
}
/* line 733, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-item-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 743, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim {
  border: 2px solid #6495ed;
  margin: 8px 0;
}
/* line 747, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-item {
  margin: 3px;
  text-align: center;
}
/* line 751, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-main {
  margin-top: 3px;
  padding: 3px;
  border: 1px solid #6495ed;
}
/* line 756, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-main-controller {
  display: flex;
  justify-content: space-between;
}
/* line 761, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-main-inner {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}
/* line 767, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-main-text {
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
/* line 776, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-content {
  border: 1px solid #6495ed;
  height: 100px;
  width: calc(100% - 46px);
  padding-top: 20px;
  position: relative;
}
/* line 783, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-contentarea {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
/* line 791, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-sidebar {
  border: 1px solid #6495ed;
  position: relative;
  writing-mode: vertical-rl;
  text-align: center;
}
/* line 798, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnaddsidebar {
  border: 1px solid #6495ed;
  width: 20px;
  min-height: 20px;
  position: relative;
}
/* line 804, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnaddsidebar:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 813, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btndelete {
  border: 1px solid #6495ed;
  width: 50%;
  height: 20px;
  background: #f00;
  cursor: pointer;
}
/* line 820, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btndelete.btndelete-main {
  max-width: 120px;
}
/* line 824, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btndelete.btndelete-inner {
  max-width: 20px;
}
/* line 829, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnsort {
  border: 1px solid #6495ed;
  width: 50%;
  height: 20px;
  background-image: url("../../img/common/move.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  cursor: pointer;
}
/* line 839, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnsort.btnsort-main {
  max-width: 120px;
}
/* line 843, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnsort.btnsort-inner {
  max-width: 20px;
  position: absolute;
  top: 0;
  left: 23px;
}
/* line 851, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-footer {
  margin-top: 3px;
  border: 1px solid #6495ed;
  text-align: center;
}
