@charset "UTF-8";
/* line 1, ../../../src/scss/_layout/_common/_editor/_tag.scss */
body {
  overflow: hidden;
}

/* line 2, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-editor {
  font-size: 16px;
}
/* line 6, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-inner-editor {
  height: 55px;
}
/* line 10, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim {
  color: #ffffff;
  width: 100%;
  display: flex;
  align-items: center;
}
/* line 16, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 3px;
}
/* line 24, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-device {
  background-color: #b0c4de;
}
/* line 27, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-device.checked {
  background-color: #e6e6fa;
  cursor: initial;
}
/* line 32, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-device-pc {
  background-image: url("../../img/common/computer.svg");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* line 39, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-device-sp {
  background-image: url("../../img/common/smartphone.svg");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* line 47, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting {
  display: none;
}
/* line 50, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting.active {
  display: block;
}
/* line 54, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-inner {
  display: flex;
  align-items: center;
}
/* line 59, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-input {
  width: 60px;
  height: 30px;
  padding: 5px;
  margin: 0 5px;
}
/* line 65, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-input-device {
  width: 120px;
}
/* line 70, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-title {
  margin-left: 5px;
}
/* line 74, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-setting-unit {
  margin-right: 5px;
}
/* line 79, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-adaptive {
  background-color: #e6e6fa;
  background-image: url("../../img/common/shrink.svg");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* line 86, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-adaptive.checked {
  background-image: url("../../img/common/expansion.svg");
}
/* line 91, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-sim-swirl {
  background-color: #e6e6fa;
  background-image: url("../../img/common/swirl.svg");
  background-position: center;
  background-size: 20px;
  background-repeat: no-repeat;
}
/* line 100, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-controller-editor {
  padding: 0 20px;
}
/* line 104, ../../../src/scss/_layout/_common/_editor/_header.scss */
.header-button {
  height: 30px;
  background: #32cd32;
  width: 80px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
  text-shadow: 1px 1px 2px #2f4f4f;
  letter-spacing: 0.05em;
  color: #f0fff0;
  font-weight: bold;
  cursor: pointer;
}

/* line 1, ../../../src/scss/_layout/_common/_editor/_main.scss */
.main-editor {
  display: flex;
  height: 100vh;
  padding-top: 55px;
  font-size: 16px;
}

/* line 1, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim {
  width: calc(100% - 350px);
  background: #f5f5f5;
  overflow: auto;
}
/* line 6, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 14, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-pc {
  display: flex;
}
/* line 18, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-sp {
  display: none;
}
/* line 22, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-inner {
  position: relative;
  border: 2px solid #696969;
  background: #ffffff;
  margin: 0 auto;
  width: fit-content;
  overflow: hidden;
}
/* line 31, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-html {
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
  transform-origin: left top;
  position: relative;
}
/* line 39, ../../../src/scss/_layout/_common/_editor/_simulation.scss */
.sim-header {
  position: absolute;
}

/* line 1, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting {
  width: 350px;
  overflow: hidden;
  background: #92d3ff;
  user-select: none;
}
/* line 7, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-title {
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
}
/* line 13, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-pc {
  display: none !important;
}
/* line 16, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-pc.active {
  display: block !important;
}
/* line 21, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-sp {
  display: none !important;
}
/* line 24, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-sp.active {
  display: block !important;
}
/* line 29, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.setting-none {
  display: none !important;
}

/* line 34, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form {
  height: calc(100% - 50px);
  overflow: hidden;
}
/* line 38, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-body {
  overflow: hidden;
  height: 100%;
  width: 700px;
}
/* line 44, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-block {
  width: 350px;
  height: 100%;
  float: left;
  display: none;
}
/* line 50, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-block.active {
  display: block;
}
/* line 55, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-topic {
  background: #4169e1;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 34px;
}
/* line 63, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-topic-back {
  position: relative;
  width: 25px;
  height: 100%;
  background: #000;
  border-right: 1px solid #fff;
  cursor: pointer;
}
/* line 71, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-topic-back:before {
  content: "";
  position: absolute;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
/* line 83, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-topic-text {
  padding: 0 10px;
}
/* line 88, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-content {
  height: calc(100% - 34px);
  overflow-y: auto;
}
/* line 93, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-line {
  padding: 0 10px;
}
/* line 97, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-title {
  padding: 8px 0;
  font-weight: 600;
}
/* line 102, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-input {
  padding: 0 5px;
}
/* line 106, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-checkbox {
  display: block;
  border: 1px solid #6495ed;
  border-radius: 5px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
/* line 114, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-checkbox.checked {
  background: #6495ed;
}
/* line 118, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-checkbox input[type="checkbox"] {
  display: none;
}
/* line 124, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-responsive-controller {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 8px;
}
/* line 131, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-responsive-area {
  margin-top: 8px;
}
/* line 135, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-responsive-checkbox {
  width: calc(50% - 4px);
}
/* line 141, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btninsert {
  width: 220px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  text-align: center;
  margin: 0px auto;
  padding: 5px 0;
  cursor: pointer;
}
/* line 151, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-layer {
  border: 1px solid #6495ed;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
}
/* line 158, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6495ed;
}
/* line 164, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnsort {
  width: 32px;
  height: 32px;
  background-color: #dcdcdc;
  background-image: url("../../img/common/move.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  border-right: 1px solid #6495ed;
  cursor: move;
}
/* line 176, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-name {
  width: calc(100% - 96px);
}
/* line 179, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-name input[type="text"] {
  border: 0;
  border-radius: 0;
}
/* line 185, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide {
  position: relative;
  width: 32px;
  height: 32px;
  background-color: #dcdcdc;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 193, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide:before {
  content: "";
  position: absolute;
  border-bottom: 12px solid #000000;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 204, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide:after {
  content: "";
  position: absolute;
  background: #000000;
  width: 18px;
  height: 4px;
  top: 21px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 216, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide.checked:before {
  border-bottom: 0;
  border-top: 12px solid #000000;
  top: 13px;
}
/* line 221, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btnslide.checked:after {
  top: 7px;
}
/* line 227, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-btndelete {
  background: #f00;
  border-left: 1px solid #6495ed;
  cursor: pointer;
  width: 32px;
  height: 32px;
}
/* line 235, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-body {
  padding: 10px;
  background: #ffffff;
}
/* line 240, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-content {
  display: none;
}
/* line 244, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-background-chkrepeat {
  margin-top: 8px;
}
/* line 249, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color {
  margin-top: 8px;
}
/* line 252, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-line {
  display: flex;
  align-items: center;
  margin: 6px 0;
}
/* line 258, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-show {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 263, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-showarea {
  width: 16px;
  height: 26px;
  border: 1px solid;
  border-radius: 3px;
  background: #ffffff;
}
/* line 272, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-checkbox {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: linear-gradient(to right top, #dddddd calc(50% - 1.5px), #ff0000 calc(50% - 1.5px), #ff0000 calc(50% + 1.5px), #dddddd calc(50% + 1.5px));
}
/* line 279, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-checkbox.checked {
  background: transparent;
}
/* line 283, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-checkbox-check {
  display: none;
}
/* line 288, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-picker {
  position: relative;
  width: 90px;
  margin: 0 6px;
}
/* line 293, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-picker input[type="text"] {
  padding-left: 18px;
}
/* line 297, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-picker:before {
  content: "#";
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  top: 8px;
  left: 9px;
}
/* line 307, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-opacity {
  width: 80px;
}
/* line 311, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-size {
  width: 90px;
  margin-left: 22px;
  margin-right: 6px;
}
/* line 317, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-unit {
  width: 80px;
}
/* line 321, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-color-percent {
  width: 80px;
}
/* line 326, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload {
  position: relative;
  margin-top: 8px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  line-height: 34px;
  cursor: pointer;
}
/* line 334, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-text {
  padding: 0 12px;
  white-space: nowrap;
  overflow: hidden;
  color: #cccccc;
}
/* line 340, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-text.active {
  color: unset;
}
/* line 345, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-btndelete {
  position: absolute;
  top: 0;
  right: 34px;
  width: 34px;
  height: 34px;
  border-left: 1px solid #6495ed;
  display: none;
  cursor: pointer;
}
/* line 355, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-btndelete:before {
  content: "×";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 364, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-btnupload {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 374, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-btnupload:before {
  content: "↑";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* line 383, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-upload-file {
  display: none;
}
/* line 388, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position {
  margin-top: 8px;
}
/* line 391, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position-line {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
/* line 397, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position-key {
  width: calc(100% - 152px);
}
/* line 401, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position-distance {
  width: 70px;
  margin: 0 6px;
}
/* line 406, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-position-unit {
  width: 70px;
}
/* line 411, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size {
  margin-top: 8px;
}
/* line 414, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-line {
  margin-top: 8px;
  display: flex;
  align-items: center;
}
/* line 420, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-key {
  width: calc(100% - 152px);
}
/* line 424, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-proportion {
  margin-top: 8px;
}
/* line 428, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-value {
  width: 70px;
  margin: 0 6px;
}
/* line 433, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-size-unit {
  width: 70px;
}
/* line 439, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-type {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
/* line 445, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype {
  width: calc((100% - 12px) / 3);
  display: block;
  margin: 0 6px;
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
}
/* line 453, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype:first-child {
  margin-left: 0;
}
/* line 457, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype:last-child {
  margin-right: 0;
}
/* line 461, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype.checked {
  background: #6495ed;
}
/* line 465, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-preview {
  width: 60px;
  height: 60px;
  margin: 12px auto 5px;
}
/* line 470, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-preview.preview-solid {
  background: linear-gradient(90deg, #ff0000, #00ff00, #0000ff);
}
/* line 474, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-preview.preview-radial {
  background: radial-gradient(circle at center, #ff0000, #00ff00, #0000ff);
}
/* line 478, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-preview.preview-conic {
  background: conic-gradient(from 0deg at center, #ff0000, #00ff00, #0000ff, #ff0000);
}
/* line 483, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-title {
  text-align: center;
}
/* line 487, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rdotype-radio {
  display: none;
}
/* line 492, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-direction {
  margin-top: 8px;
}
/* line 496, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate {
  margin-top: 8px;
}
/* line 499, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate-inner {
  display: flex;
  align-items: center;
}
/* line 504, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate-title {
  width: calc(100% - 152px);
}
/* line 508, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate-sim {
  width: 34px;
  height: 34px;
  border: 1px solid #6495ed;
  border-radius: 17px;
  background-image: linear-gradient(90deg, #6495ed, #6495ed);
  background-size: 1px 17px;
  background-repeat: no-repeat;
  background-position: top;
  transform: rotate(0deg);
}
/* line 520, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-rotate input[type="number"] {
  width: 70px;
  margin: 0 6px;
}
/* line 526, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-shape {
  margin-top: 8px;
}
/* line 530, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-list {
  margin-top: 8px;
}
/* line 534, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color {
  border: 1px solid #6495ed;
  border-radius: 5px;
  margin-top: 8px;
  background: #fff;
}
/* line 540, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color:first-child {
  margin-top: 0;
}
/* line 544, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-header {
  display: flex;
  align-items: center;
}
/* line 549, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-body {
  border-top: 1px solid #6495ed;
  padding: 0 8px;
}
/* line 554, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnsort {
  height: 26px;
  width: 26px;
  border-right: 1px solid #6495ed;
  background-image: url("../../img/common/move.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  cursor: pointer;
}
/* line 565, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-showarea {
  width: calc(100% - 78px);
  border: 0;
  border-radius: 0;
}
/* line 571, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-checkbox {
  cursor: initial;
}
/* line 575, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide {
  position: relative;
  height: 26px;
  width: 26px;
  border-left: 1px solid #6495ed;
  cursor: pointer;
}
/* line 582, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide:before {
  content: "";
  position: absolute;
  border-bottom: 10px solid #000000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 593, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide:after {
  content: "";
  position: absolute;
  background: #000000;
  width: 16px;
  height: 4px;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 605, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide.checked:before {
  border-bottom: 0;
  border-top: 10px solid #000000;
  top: 11px;
}
/* line 610, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btnslide.checked:after {
  top: 5px;
}
/* line 616, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-color-btndelete {
  height: 26px;
  width: 26px;
  border-left: 1px solid #6495ed;
  background: #f00;
  cursor: pointer;
}
/* line 625, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-gradient-button {
  text-align: center;
  border: 1px solid #6495ed;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 8px;
}
/* line 635, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim {
  border: 2px solid #6495ed;
  margin: 8px 0;
}
/* line 639, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-layout-sim-item {
  border: 1px solid #6495ed;
  margin: 3px;
  text-align: center;
  cursor: pointer;
}
/* line 649, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim {
  border: 2px solid #6495ed;
  margin: 8px 0;
}
/* line 653, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-item {
  margin: 3px;
  text-align: center;
}
/* line 657, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-main {
  margin-top: 3px;
  padding: 3px;
  border: 1px solid #6495ed;
}
/* line 662, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-main-controller {
  display: flex;
  justify-content: space-between;
}
/* line 667, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-main-inner {
  margin-top: 3px;
  display: flex;
  justify-content: space-between;
}
/* line 673, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-main-text {
  position: relative;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
/* line 682, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-content {
  border: 1px solid #6495ed;
  height: 100px;
  width: calc(100% - 46px);
  padding-top: 20px;
  position: relative;
}
/* line 689, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-contentarea {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 100%;
}
/* line 697, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-sidebar {
  border: 1px solid #6495ed;
  position: relative;
  writing-mode: vertical-rl;
  text-align: center;
}
/* line 704, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnaddsidebar {
  border: 1px solid #6495ed;
  width: 20px;
  min-height: 20px;
  position: relative;
}
/* line 710, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnaddsidebar:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* line 719, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btndelete {
  border: 1px solid #6495ed;
  width: 50%;
  height: 20px;
  background: #f00;
  cursor: pointer;
}
/* line 726, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btndelete.btndelete-main {
  max-width: 120px;
}
/* line 730, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btndelete.btndelete-inner {
  max-width: 20px;
}
/* line 735, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnsort {
  border: 1px solid #6495ed;
  width: 50%;
  height: 20px;
  background-image: url("../../img/common/move.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  cursor: pointer;
}
/* line 745, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnsort.btnsort-main {
  max-width: 120px;
}
/* line 749, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-btnsort.btnsort-inner {
  max-width: 20px;
  position: absolute;
  top: 0;
  left: 23px;
}
/* line 757, ../../../src/scss/_layout/_common/_editor/_setting.scss */
.form-bodylayout-sim-footer {
  margin-top: 3px;
  border: 1px solid #6495ed;
  text-align: center;
}
